<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<title>Basketball Shop</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
<body>
	<nav class="navbar navbar-expand navbar-dark bg-dark">
		<a class="navbar-brand">BasketBall Shop</a>
		<div class="collapse navbar-collapse justify-content-between"
			id="navbarsExample02">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/allProducts">Products</a></li>
				<li class="nav-item"><a class="nav-link" href="/myProfile">My Profile</a></li>
				<li class="nav-item"><a class="nav-link" href="/shoppingCart/cart">Shopping Cart</a></li>
			</ul>
			<form th:action="@{/logout}" method="POST">
				<input type="submit" class="nav-link" value="Logout" />
			</form>
			
		</div>
	</nav>
	
	<div class="row" style="margin-top:10px;">
		<div class="col-xs-12">
			<div class="alert alert-success">
				<h3><i class=" fa fa-check" aria-hidden="true" style="color:limegreen;"></i>
				Thank you, your order has been placed.</h3>
			</div>
			<h3>Shipping Address</h3>
			<span th:text="${shippingAddress}"></span>
			<h3>List of Items</h3>
			<div class="row" th:each="cartItem : ${cartItemList}">
			<hr/>
			<div class="col-xs-2"></div>
			<div class="col-xs-2">

						<a th:href="@{/productDetail(id=${cartItem.id})}"> <img style="width:100px;height:100px;" class="img-responsive product" th:src="@{/image/product/}+${cartItem.product.id}+'.png'" />
						</a>
					</div>
					<div class="col-xs-6">
						<div>
							<a th:href="@{/productDetail?id=}+${cartItem.id}"><h4
									th:text="${cartItem.product.name}"></h4></a>
						</div>
					</div>

					<div class="col-xs-2">
						<h5>Size: <span th:text="${cartItem.itemSize}"></span></h5>
						<h5>Price: $<span th:text="${cartItem.product.price}"
								th:style="${cartItem.product.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
						</h5>
					</div>

					<div class="col-xs-2">
						<h5>Quantity: <span th:text="${cartItem.qty}"></span></h5> 
					</div>

				</div>
			</div>
			</div>
	

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="../../assets/js/vendor/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>

</html>









